

{% block title %}Liste des Collections{% endblock %}

{% block content %}
<h1>Liste des Collections</h1>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>Title</th>
            <th>description</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>
        {% for collection in collections %}
        <tr>
            <td>{{ collection.title }}</td>
            <td>{{ collection.description }}</td>
            <td>{{collection.date}}</td>
            <td>
                <a href="{% url 'collection_detail' collection.id %}" class="btn btn-info">Détails</a>
                <a href="{% url 'edit_collection' n=collection.id %}"class="btn btn-primary">Modifier</a>
                <a href="{% url 'delete_collection' collection.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        <a href="{% url 'new_collection' %}"class="btn btn-primary">Add Nouvelle  Collection</a>
    </tbody>
</table>

{% endblock %}
